<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Mapa para Cegos</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://openlayers.org/en/v4.1.0/build/ol.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <link rel="script" href="js/columns.js" type="text/javascript">
    <link rel="stylesheet" href="css/columns.css" type="text/css">

    <link rel="stylesheet" href="css/pace.css" type="text/css">
    <script src="js/pace.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="left_col">
            <div id="map" class="map"></div>
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-content"></div>
            </div>
            
        </div>

        <div id="right_col">

            <button id='login' onclick="location.href='/login'" class="button" type="submit" class="btn btn-primary btn-block btn-large">Login</button>           

            <form action="" class="checkbox" >
                <b class="checkTitle">Filtrar Marcadores</b></br>
                <div class="line"></div>
                <input id='bChecker' type="checkbox" class="b" onchange="filterByMarker(this)" checked="checked"> Barreiras <img src="../img/bMarker.png"/></br>
                <input type="checkbox" disabled="disabled"> Dados Oficiais </br>
                <input id='dChecker' type="checkbox" class="d" onchange="filterByMarker(this)" checked="checked"> Dados de Referencia <img src="../img/doMarker.png"/></br>
                <input type="checkbox" class="p" onchange="filterByMarker(this)" checked="checked"> Pontos de Interesse <img src="../img/poiMarker.png"/></br>
            </form>

            <form id="typeFilter" action="" class="checkbox" >
                <b class="checkTitle">Filtrar Marcadores por Tipo</b></br>
                <div class="line"></div>
                <input type="checkbox" id="ARVORE" onchange="filterByType(this)" checked="checked"> Árvore</br>
                <input type="checkbox" id="BANCO" onchange="filterByType(this)" checked="checked"> Banco</br>
                <input type="checkbox" id="BURACO" onchange="filterByType(this)" checked="checked"> Buraco</br>
                <input type="checkbox" id="DEGRAU" onchange="filterByType(this)" checked="checked"> Degrau</br>
                <input type="checkbox" id="ESCADA" onchange="filterByType(this)" checked="checked"> Escada</br>
                <input type="checkbox" id="HIDRANTE" onchange="filterByType(this)" checked="checked"> Hidrante</br>
                <input type="checkbox" id="OBJETO_ELEVADO" onchange="filterByType(this)" checked="checked"> Objeto Elevado</br>
                <input type="checkbox" id="OBJETO_RASTEIRO" onchange="filterByType(this)" checked="checked"> Objeto Rasteiro</br>
                <input type="checkbox" id="ORELHAO" onchange="filterByType(this)" checked="checked"> Orelhão</br>
                <input type="checkbox" id="POSTE_PILAR_PLACA" onchange="filterByType(this)" checked="checked"> Pilar, Placa ou Poste</br>
                <input type="checkbox" id="TERRENO_DESNIVELADO" onchange="filterByType(this)" checked="checked"> Terreno Desnivelado</br>
                <input type="checkbox" id="OUTRO" onchange="filterByType(this)" checked="checked"> Outro</br>
            </form>

            <form id="riskFilter" action="" class="checkbox">
                <b class="checkTitle">Filtrar Barreiras por Nível de Perigo</b></br>
                <div class="line"></div>
                <input type="checkbox" id="MUITO_BAIXO" onchange="filterByRisk(this)" checked="checked"> Muito Baixo</br>
                <input type="checkbox" id="BAIXO" onchange="filterByRisk(this)" checked="checked"> Baixo</br>
                <input type="checkbox" id="MEDIO" onchange="filterByRisk(this)" checked="checked"> Médio</br>
                <input type="checkbox" id="ALTO" onchange="filterByRisk(this)" checked="checked"> Alto</br>
                <input type="checkbox" id="MUITO_ALTO" onchange="filterByRisk(this)" checked="checked"> Muito Alto</br>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>